################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeLib/CodeLib.VC.db
/CodeLib/CodeLib.VC.VC.opendb

/.vs
/CodeLib/.vs/CodeLib/v15
/CodeLib/Debug
/CodeLib/Debug
/.vs
/CodeLib/Debug
/CodeLib/Debug/CodeLib.tlog/CL.read.1.tlog
/CodeLib/Debug
/CodeLib/oldStack.h

